{% load static %}
<!DOCTYPE html>

<head>
  <meta name="google-site-verification" content="a4S462PNUxke1VNdjJp591ezRFzONMeJzpUDN3kyEa0" />
  <meta charset="utf-8">
  <title>Kamal</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="top">
    <img class="top-cloud" src="{% static 'cloud.png' %}" alt="cloud">
    <h1>I'm Kamal.</h1>
    <h2>a <span class="span">pro</span>grammer.</h2>
    <img class="bottem-cloud" src="images/cloud.png" alt="cloud">
    <img src="images/mountain.png" alt="mountain">
  </div>
  <div class="middle-container">
    <div class="profile">
      <img class="boy" src="images/boy.png" alt="boy">
      <h2>Hello.</h2>
      <p class="mid-p">currently i'm learning web-developement from the scratch and enjoying every bit of. i love gym
      </p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="git-img"
          src="https://media4.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif?cid=ecf05e47fi8eh0ghueuh22hihvlf7q56901tvao67hct8xyz&rid=giphy.gif&ct=g"
          alt="">
        <h3>Git</h3>
        <p>i know how git works and how to deploy a website in it. i can create and branch the code</p>
      </div>
      <div class="skill-row">
        <img class="laptop-img" src="images/programming.png" alt="">
        <h3>Tech</h3>
        <p>fasinated by how rapid the tech growth is and how new version of a certain things come every time. love new
          gadgets and featurs</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3 class="contact-message">Have a question, Offers on coopration?. Feel free to contact me!</h3>

      <a class="btn" href="https://www.linkedin.com/in/kamal-pandi-6066a6222">CONTACT ME</a>
      <p class="contact-message"> This portfolio is work a in progress </p>
    </div>
  </div>


  <div class="bottom-container">
    <!-- <a class="footer-link" href="https://www.linkedin.com/in/kamal-pandi-6066a6222">LinkedIn</a> -->
  </div>

</body>

</html>