{% load static %}
<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Kamal</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="center">

    <a href="https://kamalpandi.github.io/Portfolio/">click here</a>
  </div>

</body>

</html>